/* basic layout */
body, div {
    margin: 0;
    padding: 0;
}

body {
	background-color: #f6f6f6;
	overflow: auto;
}

#divBodyContainer {
	position: relative;
	left: 0;
	top: 20px;
	z-index: 1;
	padding: 0 20px;
	width: 924px;
	margin: 0 auto;
	box-shadow: 0 1px 4px #999;
	-moz-box-shadow: 0 1px 4px #999;
	-webkit-box-shadow: 0 1px 4px #999;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #aaa;
	background: #fff;	
}


#divMiddlePane {
	left: 0;
	top: 100px; /* height of header pane */
	position: relative;	/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	float: left;
	*float: none;
	margin-bottom: 100px; /* must equal top value (height of header pane) */
	overflow: hidden;
	width: 100%;
	border-bottom: #6f2116 solid 1px;
}

#divHeaderPane {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 100%;
	height: 65px;
	background-color: #222;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border: 1px solid #222;
	border-bottom: 35px solid #444;
}

#divFooterPane {
	clear: both;
	width: 100%;
	height: 50px;
	margin-left: -1px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border: 1px solid #fff;
}

#divMiddleOuter {
	float: left;
	width: 200%; /* twice the width of the body container */
	position: relative;
	left: 170px; /* width of left pane (including width of vertical borders) */
}

#divMiddleInner {
	float: left;
	width: 100%; /* twice the width of the body container (since nested inside middle outer) */
	position: relative;
	left: 50%;
	margin-left: -350px; /* -1 times sum of left pane width and right pane width (including width of vertical borders) */
	padding: 20px 0;
}

#divLeftPane {
	min-height: 10px;
	float: left;
	width: 169px;
	position: absolute;
	top: 20px;
	bottom: 20px;
	margin-left: -50%;
	left: 180px; /* width of right pane (including width of vertical borders)  */
	overflow: hidden;
	border-right: solid 1px black;
}

#divRightPane {
	float: left;
	width: 180px;
	position: absolute;
	left: 0;
	top: 20px;
	bottom: 20px;
	border-left: solid 1px black;
}

#divContentWrapper {
	float: right;
	width: 50%; /* width of the body container (since nested inside middle inner) */
	position: relative;
	right: 100%;
}

#divContentPane {
	min-height: 500px;
	margin-left: 350px; /* sum of left pane width and right pane width */
	padding: 0 30px;
	overflow: auto; /* to prevent child elements overlapping right pane */
}