.menu-toggle-label {
    position: absolute;
    left: .6em;
    top: .15em;
    cursor: pointer;
    color: #000;
    font-size: 1rem;
    display: block;
    /*line-height: .8;*/
    border: solid #000 1px;
    border-radius: 3px;
    /*padding: .3em;*/
    width: 24px;
    height: 24px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;
    color: transparent;
    background: url(../images/menu-16.png) center center no-repeat;
    /*background-size: 24px 240px;*/
}

.menu-toggle-label-close {
    position: static;
    margin: .3em;
    float: right;
    background-image: url(../images/close-16.png);
}

/*.menu-toggle-label:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: .25em;*/
    /*top: .35em;*/
    /*width: 1em;*/
    /*height: 0.125em;*/
    /*background: black;*/
    /*box-shadow: 0 .25em 0 0 black, 0 .5em 0 0 black;*/
/*}*/

.menu-toggle-label.menu-toggle-label-close:after {
    left: auto;
    margin-top: .35em;
    right: 1em;
}

nav .menu-list {
    margin: 0;
    float: none;
    display: inline-block;

}

.menu-list dt {
    display: none;
}

.menu-item {
    clear: both;
    margin: .3em 0 0 0;
    /*background: rgba(0, 0, 0, 0) url(../images/bg-header.png) repeat scroll 0 0;*/
    display: list-item;
}

.menu-item:last-child {
    margin-bottom: .3em;
}

a.menu-item:link, a.menu-item:visited, a.menu-item:hover, a.menu-item:active, span.menu-item.no-link {
    display: block;
    margin: 0;
    padding: .5em 1em;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

a.menu-item.selected,
a.menu-item:hover {
    color: #fff;
    background: none repeat scroll 0 0 rgb(0, 0, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#nav-before {
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 100%;
    opacity: 0;
    z-index: 19997;
    transform: translate3d(0, 0, 0);
    box-sizing: border-box;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

nav#nav {
    display: inline-block;
    position: fixed;
    left: -15em;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    /*border-right: solid 1px #fdd200;*/
    z-index: 19998;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    /*background-color: #fff;*/
    background-color: rgba(200, 200, 200, 1);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    -ms-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#menu-toggle:checked ~ nav#nav {
    -webkit-transform: translate3d(15em, 0, 0);
    transform: translate3d(15em, 0, 0);
}

#menu-toggle:checked ~ #nav-before {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: .8;
}

/* prevent the content behind the modal layer from scrolling */
#menu-toggle:checked ~ #outer {
    height: 100%;
    overflow: hidden;
}

/*@media print and (min-width: 748px) {*/
    /*nav#nav {*/
        /*position: absolute;*/
        /*top: 0;*/
        /*right: 13px;*/
        /*padding: 0;*/
        /*max-width: 900px;*/
        /*left: 50%;*/
        /*z-index: 8999;*/
        /*margin: 42px 0 0 -450px;*/
    /*}*/

    /*.menu-list {*/
        /*clear: both;*/
        /*padding: 5px 0;*/
        /*margin: 0;*/
        /*float: right;*/
        /*font-family: sans-serif;*/
        /*font-size: 1.8em;*/
        /*font-weight: normal;*/
        /*text-transform: uppercase;*/
    /*}*/

    /*.menu-list dt {*/
        /*display: none;*/
    /*}*/

    /*.menu-item {*/
        /*list-style-type: none;*/
        /*float: left;*/
        /*color: #000;*/
        /*border-right: solid 1px transparent; *//**//* the border is necessary for IE8 - otherwise the items overlap each other */
        /*margin: 0;*/
    /*}*/

    /*a.menu-item:link, a.menu-item:visited, a.menu-item:hover, a.menu-item:active, span.menu-item.no-link {*/
        /*text-decoration: none;*/
        /*display: inline-block;*/
        /*color: #666;*/
        /*margin: 0 0 0 20px;*/
        /*border: solid 1px transparent;*/
        /*border-width: 1px 0;*/
        /*padding: 1px 0 0 0;*/
        /*text-shadow: 1px 1px 1px #555;*/
        /*outline: none;*/
    /*}*/

    /*a.menu-item.active:link, a.menu-item.active:visited, a.menu-item.active:hover, a.menu-item.active:active {*/
        /*color: #cd1c69;*/
        /*border-color: #cd1c69;*/
        /*text-decoration: underline overline;*/
        /*border: solid 1px #cd1c69;*/
        /*border-width: 1px 0;*/
        /*color: #D16F4E;*/
    /*}*/

    /*.menu-item.last a {*/
        /*margin-right: 0;*/
    /*}*/

    /*#menu-toggle-label {*/
        /*display: none;*/
        /*text-shadow: 1px 1px rgba(0, 0, 0, 0.1);*/
    /*}*/

/*}*/
